{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;
                
        }
    </style>
    <div class="m-0">
        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-3 m-0 p-0"></div>  
            <div class="col-sm-6 m-0 p-0">
                <h6  class="bg-info text-light p-2 m-0 text-center">Group Creation</h6>
                <form class="p-5" style="background-color:rgba(0,0,0,.4);">
                    <div class="p-3">
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="a">Name</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="a" placeholder=""></div>
                            <div class="col-sm-4 m-0 p-0"></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="b">Alias</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="b" placeholder=""></div> 
                            <div class="col-sm-7 m-0 p-0"></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="b">Under</label></div>
                            <div class="col-sm-6 m-0 p-0"> 
                                <select name="optional" id="i" class="form-control">
                                    <option value="">Primary</option>
                                    <option value="">Bank Accounts</option>
                                    <option value="">Bank OCC A/C</option> 
                                    <option value="">Bank OD A/C</option>
                                    <option value="">Branch / Divisions</option>
                                    <option value="" selected>Capital Account</option> 
                                </select>
                            </div>
                            <div class="col-sm-7 m-0 p-0"></div>
                        </div>
                    </div>
                    <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                        <div class="col-sm-12 m-0 p-4">
                            <div class="row container-fluid  p-2">
                                <div class="col-sm-8 m-0 p-0"> <label for="c">Nature of Group</label></div>
                                <div class="col-sm-4 m-0 p-0">
                                    <select name="optional" id="i" class="form-control">
                                        <option value="">Assets</option>
                                        <option value="">Expenses</option>
                                        <option value="">Income</option>
                                        <option value="" selected>Liabilities</option>  
                                    </select>
                                </div>
                                <div class="col-sm-0 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid  p-2">
                                <div class="col-sm-8 m-0 p-0"> <label for="c">Group behaves like sub-ledger</label></div>
                                <div class="col-sm-4 m-0 p-0">
                                    <select name="optional" id="i" class="form-control">
                                        <option value="">No</option>
                                        <option value="">Yes</option>  
                                    </select>
                                </div>
                                <div class="col-sm-0 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid  p-2">
                                <div class="col-sm-8 m-0 p-0"> <label for="c">Net Debit/Credit Balances for reporting</label></div>
                                <div class="col-sm-4 m-0 p-0">
                                    <select name="optional" id="i" class="form-control">
                                        <option value="">No</option>
                                        <option value="">Yes</option>  
                                    </select>
                                </div>
                                <div class="col-sm-0 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid  p-2">
                                <div class="col-sm-8 m-0 p-0"> <label for="c">Used for Calculations(for example :tax,discounts) 
                                    <br><p><i>&nbsp;&nbsp;&nbsp;&nbsp;(For sale invoice entries)</i></p></label>
                                </div>
                                <div class="col-sm-4 m-0 p-0">
                                    <select name="optional" id="i" class="form-control">
                                        <option value="">No</option>
                                        <option value="">Yes</option>  
                                    </select>
                                </div>
                                <div class="col-sm-0 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid  p-2">
                                <div class="col-sm-8 m-0 p-0"> <label for="c">Method to Allocate when used in purchase invoice</label></div>
                                <div class="col-sm-4 m-0 p-0">
                                    <select name="optional" id="i" class="form-control">
                                        <option value="">Not Applicable</option>
                                        <option value="">Appropriate by Qty</option>
                                        <option value="">Appropriate by value</option>    
                                    </select>
                                </div>
                                <div class="col-sm-0 m-0 p-0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="enter w-100 py-4"><button class="btn btn-info w-15">CREATE</button></div>  
                </form>
            </div>
        <div class="col-sm-5 m-0 p-0"></div>
    </div>  
{% endblock %}