{% extends 'base.html' %}

{% block body %}
{% load static %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="//geodata.solutions/includes/countrystatecity.js"></script>
<style>
    .enter{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
</style>
<script>
function copyName(){
    document.getElementById("mailing_name").value = document.getElementById("companyname").value;
}

function currency1(){
    var val=document.getElementById("countryId").value;
    if(val=="India")
    {
        newval="Rs";
        Formal="INR";
    }
    else if(val=="Afghanistan")
    {
        newval="AFN";
        Formal="Afghani";
    }
    else if(val=="Albania")
    {
        newval="Lek";
        Formal="ALL";
    }
    else if(val=="Algeria")
    {
        newval="DSD";
        Formal="Algerian Dinar";
    }
    else if(val=="Andorra")
    {
        newval="Nu";
        Formal="Bhutanese Ngultrum";
    }
    else if(val=="Angola")
    {
        newval="Kz";
        Formal="Angolan Kwanza";
    }
    else if(val=="Argentina")
    {
        newval="$";
        Formal="Argentine Peso";
    }
    else if(val=="Australia")
    {
        newval="$";
        Formal="Australian Dollar";
    }
    else if(val=="Bangladesh")
    {
        newval="TK";
        Formal="Bangladeshi Taka";
    }
    else if(val=="Belgium")
    {
        newval="€";
        Formal="European Euro";
    }
    else if(val=="Benin")
    {
        newval="franc";
        Formal="West African CFA";
    }
    else if(val=="Bhutan")
    {
        newval="Nu";
        Formal="Bhutanese Ngultrum";
    }
    else if(val=="Botswana")
    {
        newval="P";
        Formal="Botswana Pula";
    }
    else if(val=="Brazil")
    {
        newval="R$";
        Formal="Brazilian Real";
    }
    else if(val=="Burkina Faso")
    {
        newval="franc";
        Formal="West African CFA";
    }
    else if(val=="Burundi")
    {
        newval="Fbu";
        Formal="Burundian Franc";
    }
    else if(val=="Cambodia")
    {
        newval="KHR";
        Formal="Combodian Riel";
    }
    else if(val=="Cameroon")
    {
        newval="franc";
        Formal="Central African CFA";
    }
    else if(val=="Canada")
    {
        newval="$";
        Formal="Canadian Dollar";
    }
    else if(val=="Chad")
    {
        newval="franc";
        Formal="Central African CFA";
    }
    else if(val=="Chile")
    {
        newval="$";
        Formal="Peso";
    }
    else if(val=="China")
    {
        newval="¥";
        Formal="Yuan Renminbi";
    }
    else if(val=="Colombia")
    {
        newval="$";
        Formal="Peso";
    }
    else if(val=="Cuba")
    {
        newval="CUP";
        Formal="Peso";
    }
    else if(val=="Czech Republic")
    {
        newval="CZK";
        Formal="Koruna";
    }
    else if(val=="Dominican Republic")
    {
        newval="RD$";
        Formal="Peso";
    }
    else if(val=="Ecuador")
    {
        newval="S";
        Formal="Ecuadorian sucre";
    }
    else if(val=="Dominican Republic")
    {
        newval="RD$";
        Formal="Peso";
    }
    else if(val=="Egypt")
    {
        newval="EGP";
        Formal="Egyptian Pound";
    }
    else if(val=="Dominican Republic")
    {
        newval="RD$";
        Formal="Peso";
    }
    else if(val=="Ethiopia")
    {
        newval="ETB";
        Formal="Ethiopian birr";
    }
    else if(val=="France")
    {
        newval="€";
        Formal="European Euro";
    }
    else if(val=="Germany")
    {
        newval="€";
        Formal="European Euro";
    }
    else if(val=="Ghana")
    {
        newval="GH¢";
        Formal="Ghanaian Cedi";
    }
    else if(val=="Ghana")
    {
        newval="GH¢";
        Formal="Ghanaian Cedi";
    }
    else if(val=="Greece")
    {
        newval="€";
        Formal="European Euro";
    }
    else if(val=="Guatemala")
    {
        newval="Q";
        Formal="Quetzal";
    }
    else if(val=="Guinea")
    {
        newval="FCFA";
        Formal="Central African CFA franc";
    }
    else if(val=="Haiti")
    {
        newval="HTG";
        Formal="Haitian Gourde";
    }
    else if(val=="Hong Kong")
    {
        newval="HKD";
        Formal="Hong Kong Dollar";
    }
    else if(val=="Indonesia")
    {
        newval="Rp";
        Formal="Indonesian Rupiah";
    }
    else if(val=="Iran")
    {
        newval="IRR";
        Formal="Rial";
    }
    else if(val=="Iraq")
    {
        newval="IQD";
        Formal="Iraqi Dinar";
    }
    else if(val=="Italy")
    {
        newval="€";
        Formal="European Euro";
    }
    else if(val=="Japan")
    {
        newval="¥";
        Formal="Yen";
    }
    else if(val=="Kazakhstan")
    {
        newval="KZT";
        Formal="Tenge";
    }
    else if(val=="Kenya")
    {
        newval="KSh";
        Formal="Kenyan Shilling";
    }
    else if(val=="Kuwait")
    {
        newval="KWD";
        Formal="Kuwaiti Dinar";
    }
    else if(val=="Liberia")
    {
        newval="$";
        Formal="Dollar";
    }
    else if(val=="Madagascar")
    {
        newval="MGA";
        Formal="Malagasy Ariary";
    }
    else if(val=="Malawi")
    {
        newval="MWK";
        Formal="Malawian Kwacha";
    }
    else if(val=="Malaysia")
    {
        newval="RM";
        Formal="Ringgit Malaysia";
    }
    else
    {
        newval="";
        Formal="";
    }
    document.getElementById("cur").value = newval;
    document.getElementById("formal").value = Formal;
}
</script>

<p id="a"></p>
<div class="ml-5 mr-5">

    
    
<h6 class="bg-info text-light p-2 m-0 text-center"> Company Creation</h6>
        <form class="p-5" style="background-color:rgba(0,0,0,.4);" action="{% url 'companycreate' %}" autocomplete="off" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="p-3">
            <div class="row container-fluid  p-2 m-0">
                <div class="col-sm-2 m-0 p-0"> <label for="a">Company Data Path</label></div>
                <div class="col-sm-3 m-0 p-0"><input type="text" class="form-control" id="a" placeholder=""></div>
                <div class="col-sm-7 m-0 p-0"></div>
            </div>
            
        </div>

            
                
               
            <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                <div class="col-sm-6 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">
                   
                    <div class="row container-fluid  p-0">
                        <div class="col-sm-6 m-0 p-0"></div>
                        <div class="col-sm-6 m-0 p-0"></div>
                    </div>

                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="c">Company Name</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" id="companyname" name="companyname" class="form-control" id="c" placeholder=""></div>
                    </div>

                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Mailing Name</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" id="mailing_name" name="mailing_name" class="form-control" id="d" placeholder="" onclick="copyName()"></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">Address</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <textarea name="address" class="form-control" rows="4" cols="28"></textarea>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="g">Country</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="country" class="form-control countries" id="countryId" onchange="currency1()" >
                                <option value="Select Country">Select Country</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="f">State</label></div>
                        <div class="col-sm-6 m-0 p-0"> <select name="state" class="form-control states" id="stateId">
                            <option value="">Select State</option>
                        </select>
                        </div>
                    </div>
                    
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="h">Pincode</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="pincode" name="pincode" required pattern="\S+"/ placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="h">Telephone</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="telephone" name="telephone" onkeypress="document.getElementById('mobile').focus();" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="h" id="validationCustom03">Mobile</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="mobie" name="mobile"   placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="h">Fax</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" name="fax" class="form-control" id="d" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="h">Email</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="email" name="email" class="form-control" id="d" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="h">Website</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" name="website" class="form-control" id="d" placeholder=""></div>
                    </div>
                    
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="h">Base Currency Symbol</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text"  name="currency" class="form-control" id="cur" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="h">Formal Name</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text"  name="formal" class="form-control" id="formal" placeholder=""></div>
                    </div>
                    
                </div>
                <div class="col-sm-6 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">
                  
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="l">Financial Year Begining From</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <input type= "date" data-date-format="DD/MM/YYYY" value="2022-04-01"  class="form-control" id="d" placeholder="" name="fyear">
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="l">Books Begining From</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <input  type="date" data-date-format="DD/MM/YYYY" value="2022-04-01"  class="form-control" id="d" placeholder="" value="1-Apr-22" name="byear">
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="enter w-100 py-4"><button class="btn btn-info w-35">CREATE</button></div>   
            
        </form>
    </div>
    
    
{% endblock %}