{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
    </style>
    <script src="{% static 'js/country-states.js' %}"></script>
    <script>
        // user country code for selected option
        let user_country_code = "IN";

        (function () {
            // script https://www.html-code-generator.com/html/drop-down/country-region

            // Get the country name and state name from the imported script.
            let country_list = country_and_states['country'];
            let states_list = country_and_states['states'];

            // creating country name drop-down
            let option =  '';
            option += '<option>select country</option>';
            for(let country_code in country_list){
                // set selected option user country
                let selected = (country_code == user_country_code) ? ' selected' : '';
                option += '<option value="'+country_code+'"'+selected+'>'+country_list[country_code]+'</option>';
            }
            document.getElementById('country').innerHTML = option;

            // creating states name drop-down
            let text_box = '<input type="text" class="input-text" id="state">';
            let state_code_id = document.getElementById("state-code");

            function create_states_dropdown() {
                // get selected country code
                let country_code = document.getElementById("country").value;
                let states = states_list[country_code];
                // invalid country code or no states add textbox
                if(!states){
                    state_code_id.innerHTML = text_box;
                    return;
                }
                let option = '';
                if (states.length > 0) {
                    option = '<select id="state">\n';
                    for (let i = 0; i < states.length; i++) {
                        option += '<option value="'+states[i].code+'">'+states[i].name+'</option>';
                    }
                    option += '</select>';
                } else {
                    // create input textbox if no states 
                    option = text_box
                }
                state_code_id.innerHTML = option;
            }

            // country select change event
            const country_select = document.getElementById("country");
            country_select.addEventListener('change', create_states_dropdown);

            create_states_dropdown();
        })();
    </script>

  <div class="m-0">
        <h6  class="bg-info text-light p-2 m-0 text-center">Ledger Creation</h6>
        <form class="p-5" style="background-color:rgba(0,0,0,.4);">
            <div class="p-3">
                <div class="row container-fluid  p-2 m-0">
                    <div class="col-sm-2 m-0 p-0"> <label for="a">Name</label></div>
                    <div class="col-sm-3 m-0 p-0"><input type="text" class="form-control" id="a" placeholder=""></div>
                    <div class="col-sm-7 m-0 p-0"></div>
                </div>
                <div class="row container-fluid  p-2 m-0">
                    <div class="col-sm-2 m-0 p-0"> <label for="b">Alias</label></div>
                    <div class="col-sm-3 m-0 p-0"> 
                    <input type="text" class="form-control" id="b" placeholder=""></div>
                    <div class="col-sm-7 m-0 p-0"></div>
                </div>
            </div> 
            <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                <div class="col-sm-6 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="c">Under</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="optional" id="i" class="form-control">
                                <option value="">Bank Accounts</option>
                                <option value="">Bank OCC A/C</option> 
                                <option value="">Bank OD A/C</option>
                                <option value="">Branch / Divisions</option>
                                <option value="" selected>Capital Account</option> 
                                <option value="">Cash-in-Hand</option>
                                    <option value="">Current Assets</option>
                                    <option value="">Current Liabilities</option>
                                    <option value="">Deposits (Asset)</option>
                                    <option value="">Direct Expenses</option>
                                    <option value="">Direct Incomes</option>
                                    <option value="">Duties & Taxes</option>
                                    <option value="">Expenses (Direct)</option>
                                    <option value="">Expenses (Indirect)</option>
                                    <option value="">Fixed Assets</option>
                                    <option value="">Income (Direct)</option>
                                    <option value="">Income (Indirect)</option>
                                    <option value="">Indirect Expenses</option>
                                    <option value="">Indirect Incomes</option>
                                    <option value="">Investments</option>
                                    <option value="">Loans & Advances (Asset)</option>
                                    <option value="">Loans (Liability)</option>
                                    <option value="">Misc. Expenses (ASSET)</option>
                                    <option value="">Provisions</option>
                                    <option value="">Purchase Accounts</option>
                                    <option value="">Reserves & Surplus</option>
                                    <option value="">Retained Earnings</option>
                                    <option value="">Sales Accounts</option>
                                    <option value="">Secured Loans</option>
                                    <option value="">Stock-in-Hand</option>
                                    <option value="">Sundry Creditors</option>
                                    <option value="">Sundry Debtors</option>
                                    <option value="">Suspense A/c</option>
                                    <option value="">Unsecured Loans</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">
                    <h5 class="text-center">Mailing Details</h5>
                    <div class="row container-fluid  p-0">
                        <div class="col-sm-6 m-0 p-0"></div>
                        <div class="col-sm-6 m-0 p-0"></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Name</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Address</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="textarea" class="form-control" id="d" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="state">State</label></div>
                        <div class="col-sm-6 m-0 p-0"><span id="state-code"><input type="text" id="state"></span></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="country">Country</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="" id="country">
                                <option>select country</option>
                            </select>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Pin Code</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="d" placeholder=""></div>
                    </div>
                    <h5 class="text-center">Banking Details</h5>
                    <div class="row container-fluid  p-0">
                        <div class="col-sm-6 m-0 p-0"></div>
                        <div class="col-sm-6 m-0 p-0"></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">Provide Bank details</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <script type="text/javascript">
                                function text(x){
                                    if (x == 0)
                                        document.getElementById(code).style="display: block;"
                                    else
                                        document.getElementById(code).style="display: none;"
                                }

                            </script>
                            <select  class="form-control">
                                <option value="no" onclick="text(0).checked">No</option> 
                                <option value="yes" onclick="text(1)">Yes</option>
                            </select>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2" id="code" >
                        <div class="col-sm-6 m-0 p-0"> <label for="yes">Pin Code</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="yes" placeholder=""></div>
                    </div>
                    <h5 class="text-center">Tax Registration Details</h5>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">PAN / IT No.</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">Registration Type</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="Activate" id="e" class="form-control">
                                <option value="">Unknown</option> 
                                <option value="">Composition</option>
                                <option value="">Consumer</option>
                                <option value="" selected>Regular</option>
                                <option value="">Unregistred</option>
                            </select>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">GSTIN / UIN</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                    </div>
                </div>
            </div> 
            <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                <div class="col-sm-4 m-0 p-4"></div>
                <div class="col-sm-5 m-0 p-4">
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="d"></label>Opening Balance (On 1-Apr-22)</div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="d" placeholder=""></div>
                    </div>
                </div>
                <div class="col-sm-4 m-0 p-4"></div>
            </div>

            <div class="enter w-100 py-4"><button class="btn btn-info w-15">CREATE</button></div>       
        </form>
    </div>     
{% endblock %}