{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;   
        }
    </style>
    
    <script>
        window.CountryChange = function () {
            var countryState = [
                [
                    'US', [
                        ['', 'State/Province'],
                        ['AL', 'Alabama'],
                        ['AK', 'Alaska'],
                        ['AZ', 'Arizona'],
                        ['AR', 'Arkansas'],
                    ],
                ],
                [
                    'CA', [
                        ['', 'State/Province'],
                        ['AB', 'Alberta'],
                        ['BC', 'British Columbia'],
                        ['MB', 'Manitoba'],
                        ['NB', 'New Brunswick'],
                    ]
                ]
                // [
                //     'IN', [
                //         ['', 'State/Province'],
                //         ['KL', 'Kerala'],
                //         ['BR', 'Bihar'],
                //         ['GA', 'Goa'],
                //         ['AS', 'Assam'],
                //     ]
                // ]
            ];

            var countryElement = document.getElementById('countryId');
            var stateElement = document.getElementById('stateId');
            var stateLabelElement = document.getElementById('stateLabel');
            var stateFieldElement = document.getElementById('stateField');

            if (countryElement && stateElement) {
                var listOfState = [
                    ['XX', 'None']
                ];

                var currentCountry = countryElement.options[countryElement.selectedIndex].value;
                    for (var i = 0; i < countryState.length; i++) {
                    if (currentCountry == countryState[i][0]) {
                        listOfState = countryState[i][1];
                    }
                }

                if (listOfState.length < 2) {
                    stateFieldElement.style.display = "none";
                } 
                else {
                    stateFieldElement.style.display = "inline-block";
                }
                var selectedState;
                for (var i = 0; i < stateElement.length; i++) {
                    if (stateElement.options[i].selected === true) {
                        selectedState = stateElement.options[i].value;
                    }
                }
                stateElement.options.length = 0;
                for (var i = 0; i < listOfState.length; i++) {
                    stateElement.options[i] = new Option(listOfState[i][1], listOfState[i][0]);
                    if (listOfState[i][0] == selectedState) {
                        stateElement.options[i].selected = true;
                    }
                }
            }
        }
    </script>

  <div class="m-0">
        <h6  class="bg-info text-light p-2 m-0 text-center">Ledger Creation</h6>
        <form class="p-5" style="background-color:rgba(0,0,0,.4);">
            <div class="p-3">
                <div class="row container-fluid  p-2 m-0">
                    <div class="col-sm-2 m-0 p-0"> <label for="a">Name</label></div>
                    <div class="col-sm-3 m-0 p-0"><input type="text" class="form-control" id="a" placeholder=""></div>
                    <div class="col-sm-7 m-0 p-0"></div>
                </div>
                <div class="row container-fluid  p-2 m-0">
                    <div class="col-sm-2 m-0 p-0"> <label for="b">Alias</label></div>
                    <div class="col-sm-3 m-0 p-0"> 
                    <input type="text" class="form-control" id="b" placeholder=""></div>
                    <div class="col-sm-7 m-0 p-0"></div>
                </div>
            </div> 
            <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                <div class="col-sm-6 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="c">Under</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="optional" id="i" class="form-control">
                                <option value="">Bank Accounts</option>
                                <option value="">Bank OCC A/C</option> 
                                <option value="">Bank OD A/C</option>
                                <option value="">Branch / Divisions</option>
                                <option value="" selected>Capital Account</option> 
                                <option value="">Cash-in-Hand</option>
                                    <option value="">Current Assets</option>
                                    <option value="">Current Liabilities</option>
                                    <option value="">Deposits (Asset)</option>
                                    <option value="">Direct Expenses</option>
                                    <option value="">Direct Incomes</option>
                                    <option value="">Duties & Taxes</option>
                                    <option value="">Expenses (Direct)</option>
                                    <option value="">Expenses (Indirect)</option>
                                    <option value="">Fixed Assets</option>
                                    <option value="">Income (Direct)</option>
                                    <option value="">Income (Indirect)</option>
                                    <option value="">Indirect Expenses</option>
                                    <option value="">Indirect Incomes</option>
                                    <option value="">Investments</option>
                                    <option value="">Loans & Advances (Asset)</option>
                                    <option value="">Loans (Liability)</option>
                                    <option value="">Misc. Expenses (ASSET)</option>
                                    <option value="">Provisions</option>
                                    <option value="">Purchase Accounts</option>
                                    <option value="">Reserves & Surplus</option>
                                    <option value="">Retained Earnings</option>
                                    <option value="">Sales Accounts</option>
                                    <option value="">Secured Loans</option>
                                    <option value="">Stock-in-Hand</option>
                                    <option value="">Sundry Creditors</option>
                                    <option value="">Sundry Debtors</option>
                                    <option value="">Suspense A/c</option>
                                    <option value="">Unsecured Loans</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">
                    <h5 class="text-center">Mailing Details</h5>
                    <div class="row container-fluid  p-0">
                        <div class="col-sm-6 m-0 p-0"></div>
                        <div class="col-sm-6 m-0 p-0"></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Name</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Address</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="textarea" class="form-control" id="d" placeholder=""></div>
                    </div>
                    <div class="container-fluid  p-0" id="stateField">
                        <div class="row container-fluid  p-2">
                            <div class="col-sm-6 m-0 p-0"> <label  for="" id="stateLabel">State</label></div>
                            <div class="col-sm-6 m-0 p-0" >
                                <select class="form-control" name="portlet:namespace/>State" id="stateId">
                                    <option value="">State/Province</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="country">Country</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select class="form-control" name=" portlet:namespace/>Country" id="countryId" onchange="window.CountryChange()">
                                <option value="0">Select Country</option>
                                <option value='US'>United States</option>
                                <option value='CA'>Canada</option>
                                <option value='IN'>India</option>
                            </select>
                            
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Pin Code</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="d" placeholder=""></div>
                    </div>
                    <h5 class="text-center">Banking Details</h5>
                    <div class="row container-fluid  p-0">
                        <div class="col-sm-6 m-0 p-0"></div>
                        <div class="col-sm-6 m-0 p-0"></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">Provide Bank details</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select  class="form-control">
                                <option value="">No</option> 
                                <option value="">Yes</option>
                            </select>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2" id="code" >
                        <div class="col-sm-6 m-0 p-0"> <label for="yes">Pin Code</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="yes" placeholder=""></div>
                    </div>
                    <h5 class="text-center">Tax Registration Details</h5>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">PAN / IT No.</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">Registration Type</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="Activate" id="e" class="form-control">
                                <option value="">Unknown</option> 
                                <option value="">Composition</option>
                                <option value="">Consumer</option>
                                <option value="" selected>Regular</option>
                                <option value="">Unregistred</option>
                            </select>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">GSTIN / UIN</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                    </div>
                </div>
            </div> 
            <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                <div class="col-sm-4 m-0 p-4"></div>
                <div class="col-sm-5 m-0 p-4">
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="d"></label>Opening Balance (On 1-Apr-22)</div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="d" placeholder=""></div>
                    </div>
                </div>
                <div class="col-sm-4 m-0 p-4"></div>
            </div>

            <div class="enter w-100 py-4"><button class="btn btn-info w-15">CREATE</button></div>       
        </form>
    </div>     
{% endblock %}