{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;   
        }  
    </style>

    <div class="m-3">
        <h6  class="bg-info text-light p-2 m-0 text-left">Multi-Currency Alteration</h6>
        <form class="p-5" style="background-color:rgba(0,0,0,.4);" method="post" action="{% url 'create_ROE' %}" autocomplete="off">
            {% csrf_token %}
            <div class="p-3">
                <div class="row container-fluid  p-2 m-0">
                    <div class="col-sm-2 m-0 p-0"><label for="a">Date for rate of exchange : </label></div>
                    <div class="col-sm-3 m-0 p-0"><input type="date" data-date-format="DD/MM/YYYY" value="2022-04-01" class="form-control" name="dt" ></div>
                    <div class="col-sm-7 m-0 p-0"></div>
                </div>
                <div class="table-responsive-sm">
                    <Table class="w-100 table text-center" border="1">
                        <thead>
                            <tr>
                                <th rowspan="2">Sl.no</th>
                                <th rowspan="2">currency</th>
                                <th rowspan="2">Std.rate</th>
                                <th colspan="2">Selling rate</th>
                                <th colspan="2">Buying rate</th>
                                <th rowspan="2">Action</th>
                            </tr>
                            <tr>
                                <th>last voucher rate</th>
                                <th>Specified rate</th>
                                <th>last voucher rate</th>
                                <th>Specified rate</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr>
                                <td><input type="text" value="1" class="w-50 form-control" name="slno"></td>
                                <td>
                                    <select name="curname" class="form-control" style="width: 200px;">
                                        {% for cr in ccr %}
                                            <option value="{{ cr.id }}">{{ cr.c_symbol }} ({{ cr.formal_name }})</option>
                                        {% endfor %}
                                    </select> 
                                </td>
                                <td><input type="text" class="w-100 form-control" name="stdr"></td>
                                <td></td>
                                <td><input type="text" class="w-100 form-control" name="ssr"></td>
                                <td></td>
                                <td><input type="text" class="w-100 form-control" name="bsr"></td>
                                <td><button class="btn btn-info">Enter</button></td>
                            </tr>
                        </tbody>
                    </Table>
               </div>  
            </div>
        </form>
    </div>
{% endblock %}