{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
        #h{
            background-color:rgba(0,0,0,.4);
        }
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 668px;
          margin: auto;
          text-align: right;
          font-family: arial;
        }
        a{
            margin-right: 10px;
        }
        .btns{
            color: black;
            text-decoration: none;
        }
        .btns_prnt{
            width: 100%;
            text-align: end;
            background-color: rgba(240, 248, 255, 0);
            border: none;
            /* padding: 6px; */

        }
        .btns_prnt:hover{
            background-color:orange;
            color: rgb(15, 14, 14);
        }
    </style>
    <div class="m-0">
        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-3 m-0 p-0"></div>  
            <div class="col-sm-6 m-0 p-0">
                <h6  class="bg-info text-light p-2 m-0 text-left">List of companies</h6>
                <!-- <div class="row container-fluid  p-0 m-0">
                    <div class="col-sm-4 m-0 p-0"><h6 id="h" class="text-light p-1 m-0 text-left">Date Path/Name</h6></div>  
                    <div class="col-sm-4 m-0 p-0"><h6  id="h"class="text-light p-1 m-0 text-center">Number</h6></div>
                    <div class="col-sm-4 m-0 p-0"><h6  id="h"class="text-light p-1 m-0 text-right">Period</h6></div>    -->
                    <div class="card">
                        <div class="row container-fluid  p-0 m-0">
                            <div class="col-sm-4 m-0 p-0"><h6 id="h" class="text-light p-1 m-0 text-left">Date Path/Name</h6></div>  
                            <div class="col-sm-4 m-0 p-0"><h6  id="h"class="text-light p-1 m-0 text-center">Number</h6></div>
                            <div class="col-sm-4 m-0 p-0"><h6  id="h"class="text-light p-1 m-0 text-right">Period</h6></div> 
                        </div>  
                        <a href="create_cmpny"><button  class="btns_prnt" id="create"><h6>Create Company</h6></button></a>
                        <a href=""><button  class="btns_prnt" id="create"><h6>Select Company</h6></button></a>
                        <a href=""><button  class="btns_prnt" id="create"><h6>Shut Company</h6></button></a>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>  
            </div>
            
        </div>  
         
    </div>
    
{% endblock %}