

{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;   
        }  
    </style>

    <div class="m-2">
        <h6  class="bg-info text-light p-2 m-0 text-left">Cheque Book Management<a href="javascript:history.go(-1);" class="close">&times;</a></h6>
        <form class="p-0" style="background-color:rgba(0,0,0,.4);" method="post" action="" autocomplete="off">
            {% csrf_token %}
            <div class="p-3">
                <div class="col-sm-6 m-0 p-4">
                    <div class="row container-fluid  p-2 m-0">
                        <div class="col-sm-6 m-0 p-0"> <label for="" >Starting Number</label></div>
                        <div class="col-sm-4 m-0 p-0"><input required type="number" class="form-control" id="" placeholder="" name="acsymbol"></div>
                    </div>
                    <div class="row container-fluid  p-2 m-0">
                        <div class="col-sm-6 m-0 p-0"> <label for="" >width Of Neumerical Part</label></div>
                        <div class="col-sm-4 m-0 p-0"><input required type="number" class="form-control" id=""  placeholder="" name="acfname"></div>
                    </div>
                    <div class="row container-fluid  p-2 m-0">
                        <div class="col-sm-6 m-0 p-0"> <label for="" >Prefill With Zero</label></div>
                        <div class="col-sm-4 m-0 p-0"><select name="sufixamnt" id="" class="form-control">
                            <option value="No">NO</option>
                            <option value="Yes">YES</option>
                        </select></div>
                    </div>
                </div>
                <div class="table-responsive-sm" style="background-color:rgba(0,0,0,.4);">
                    <Table class="w-100 table text-center" border="1">
                        <thead>
                            <tr>
                                <th colspan="3">Restart Numbering</th>
                                <th colspan="2">prefix Details</th>
                                <th colspan="2">Suffix Details</th>
                            </tr>
                            <tr><th>Applicable<br>Form</th>
                                <th>Starting<br> Number</th>
                                <th>Particulars</th>
                                <th>Applicable<br>Form</th>
                                <th>Particulars</th>
                                <th>Applicable<br>Form</th>
                                <th>Particulars</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="date" class="w-100 form-control" name=""></td>
                                <td><input type="number" class="w-100 form-control" name=""></td>
                                <td>
                                    <select name="" id="" class="form-control">
                                        <option value="No">Daily</option>
                                        <option value="Yes">Monthly</option>
                                        <option value="No">Never</option>
                                        <option value="Yes">Weekly</option>
                                        <option value="No">Yearly</option>
                                    </select>
                                </td>      
                                <td><input type="date" class="w-100 form-control" name=""></td>
                                <td></td>
                                <td><input type="date" class="w-100 form-control" name=""></td>
                                <td></td>
                                <!-- <td> <button class="btn btn-info">Enter</button></td>  -->
                            </tr>    
                        </tbody>
                    </Table>
               </div>  
            </div>
        </form>
    </div>
{% endblock %}



