{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;   
        }
        .modal-content{
            margin-top: 300px;
            background-color: #eee7e7;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#id_e_invoice").change(function() {
            if ($(this).val() === "No") {
                $('#e-Invoice_applicable').hide();
            } else {
                $('#e-Invoice_applicable').show();
            }
            });
            $("#id_e_invoice").trigger("change")
        })

        $(document).ready(function() {
            $("#id_e_way").change(function() {
            if ($(this).val() === "No") {
                $('#e-way_bill').hide();
            } else {
                $('#e-way_bill').show();
            }
            });
            $("#id_e_way").trigger("change")
        })

        $(document).ready(function() {
            $("#id_a_t").change(function() {
            if ($(this).val() === "No") {
                $('#a_t_applicable').hide();
            } else {
                $('#a_t_applicable').show();
            }
            });
            $("#id_a_t").trigger("change")
        })

        $(document).ready(function() {
            $("#id_e").change(function() {
            if ($(this).val() === "regular") {
                $('#e_p').hide();
                $('#g').show();
                $('#h').show();
                $('#e_invoice').show();
            } else {
                $('#e_p').show();
                $('#a_t_applicable').hide();
                $('#g').hide();
                $('#h').hide();
                $('#e_invoice').hide();
                $('#e-Invoice_applicable').hide();
               

            }
            });
            $("#id_e").trigger("change")
        })
    </script>
    <script>
        function showgstc(){
            var status = document.getElementById("gst");
            var a = status.value;
            if(a=="Yes"){
    
                window.location.href="{% url 'load_gst_details_c' %}"
            }
            else{
                document.getElementById('rate').style.display="flex";
            }
        }
    </script>
    <script>
        function showtax(){
            var status = document.getElementById("tax");
            var a = status.value;
            if(a=="Taxable"){
    
                window.location.href="{% url 'load_rev_c' %}"
            }
            else{
                document.getElementById('rate').style.display="flex";
            }
        }
    </script>
    <script>
        function showlut(){
            var status = document.getElementById("lut");
            var a = status.value;
            if(a=="Yes"){
    
                window.location.href="{% url 'load_lut_bond' %}"
            }
            else{
                document.getElementById('rate').style.display="flex";
            }
        }
    </script>
    <div class="m-0">
        <h6  class="bg-info text-light p-2 m-0 text-left">Company GST Details</h6>
        <form class="p-5" style="background-color:rgba(0,0,0,.4);" action="{% url 'gst_d' %}" method="post">
            {% csrf_token %}
            <div class="p-3">
                <h5  class="bg-trasparent text-light p-2 m-0 text-center">GST Details</h5>
            </div> 
            <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                <div class="col-sm-6 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">
                    <h6 class="text-left">GST Registration Details</h6>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="c">State</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="state" id="i" class="form-control">
                                <option value="">Not Applicable</option>
                                <option value="">Andaman & Nicobar Islands</option> 
                                <option value="">Andhra Pradesh</option>
                                <option value="">Arunachal Pradesh</option>
                                <option value="">Assam</option> 
                                <option value="">Bihar</option> 
                                <option value="">Chandigarh</option> 
                                <option value="">Chhattisgarh</option> 
                                <option value="">Dadra & Nagar Haveli and Daman & Diu</option> 
                                <option value="">Delhi</option> 
                                <option value="">Goa</option> 
                                <option value="">Gujarat</option> 
                                <option value="">Haryana</option> 
                                <option value="">Himachal Pradesh</option> 
                                <option value="">Jammu & Kashmir</option> 
                                <option value="">Jharkhand</option> 
                                <option value="">Karnataka</option> 
                                <option value="" selected>Kerala</option> 
                                <option value="">Ladakh</option> 
                                <option value="">Lakshadweep</option> 
                                <option value="">Madhya Pradesh</option> 
                                <option value="">Maharashtra</option>
                                <option value="">Manipur</option> 
                                <option value="">Meghalaya</option> 
                                <option value="">Mizoram</option> 
                                <option value="">Nagaland</option> 
                                <option value="">Odisha</option> 
                                <option value="">Puducherry</option> 
                                <option value="">Punjab</option> 
                                <option value="">Rajasthan</option> 
                                <option value="">Sikkim</option> 
                                <option value="">Tamil Nadu</option> 
                                <option value="">Telangana</option> 
                                <option value="">Tripura</option> 
                                <option value="">Uttarakhand</option> 
                                <option value="">Uttarakhand</option> 
                                <option value="">West Bengal</option> 
                            </select>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2" id="e">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Registration Type</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="reg_typ" id="id_e" class="form-control">
                                <option value="Composition">Composition</option>
                                <option value="regular" selected>Regular</option> 
                            </select>
                        </div>
                    </div>
                    
                    <script>
                        $(document).ready(function(){ 
                            $('#id_e').change(function() 
                            { 
                                var opval = $(this).val(); 
                                if(opval=="Composition"){ 
                                    $('#myModal').modal("show"); 
                                }
                            });
                        });
                    </script>
                    <div class="modal fade" id="myModal" role="dialog" >
                        <div class="modal-dialog">
                            <div class="modal-content" >
                                <div class="modal-body"><br>
                                    <div class="card"><br>
                                        <p class="price">You have the changed the registration type from Regular to 
                                            Composition Need help to know what next ?
                                        </p><br><br><br>
                                        <div>
                                            <a href="https://help.tallysolutions.com/tally-prime/india-gst-composition/setup-tallyprime-for-gst-composition/"><span style="color: #131363;">Yes </span><span style="color: #000;"> Or </span> </a>
                                            <a href="" style="color: #131363;" data-dismiss="modal">No</a> 
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2" id="a_t">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Assessee of other Territory</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="assess_of_teritory" id="id_a_t" class="form-control">
                                <option value="Yes">Yes</option>
                                <option value="No" selected>No</option> 
                            </select>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">GST Application From</label></div>
                        <div class="col-sm-6 m-0 p-0">
                           
                            <input type="text" value="1-Apr-2021" class="form-control" name="gst_application">
                           
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">GSTIN / UIN</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder="" name="uin"></div>
                    </div>
                    <div class="row container-fluid  p-2" id="h">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Periodicity Of GSTR1</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="periodicity"  class="form-control">
                                <option >Monthly</option>
                                <option>Quarterly</option> 
                            </select>
                        </div>
                    </div><br>
                    <h5 class="text-left">Additional Features</h5>
                    <div class="row container-fluid  p-2" id="e_p">
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="c">Basis for tax calculation</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="tax_cal" id="tax" class="form-control" onchange="showtax()">
                                <option value="Taxablevalue">Taxable value</option>
                                <option value="Taxable">Taxable,Exempt and Nill Rated values</option> 
                            </select>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="c">Tax Rate for taxable turnover</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <input type="text" value="1%" class="form-control" name="tax_rate_turnover">
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="c">Enable tax rate for purchase</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="tax_rate_purchase" id="e" class="form-control">
                                <option>Yes</option>
                                <option>No</option> 
                            </select>
                        </div>
                    </div>
                    </div>
                    <div class="container-fluid p-2" id="a_t_applicable">
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="c">Kerala Flood Cess Application</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="flood_access" id="e" class="form-control" >
                                <option value="No">No</option>
                                <option value="Yes">Yes</option> 
                            </select>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2" id="">
                        <div class="col-sm-6 m-0 p-0"> <label for="">&nbsp;&nbsp;&nbsp;&nbsp;Applicable Form</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="" placeholder="" name="applicable_from"></div> 
                    </div>
                    </div>
                    <div class="row container-fluid  p-2" id="g">
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="c">Set / Alter GST rate details</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="set_alter" id="gst" class="form-control" onchange="showgstc()">
                                <option value="No">No</option>
                                <option value="Yes">Yes</option> 
                            </select>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="c" id="rate">Enable tax liability on advance receipts</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="tax_liability_advance" id="e" class="form-control">
                                <option >No</option>
                                <option >Yes</option> 
                            </select>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="c">Enable tax liability on reverse charge
                            <br><p><i>&nbsp;&nbsp;&nbsp;&nbsp;(Purchase from unregistered dealer)</i></p></label>
                        </div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="tax_liability_reverse" id="e" class="form-control">
                                <option >No</option>
                                <option >Yes</option> 
                            </select>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="c">Enable GST classifications</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="gst_clss" id="e" class="form-control">
                                <option >No</option>
                                <option >Yes</option> 
                            </select>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="c">Provide LUT/Bond details</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="lut_but" id="lut" class="form-control" onchange="showlut()">
                                <option value="No">No</option>
                                <option value="Yes">Yes</option> 
                            </select>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">
                    <h5 class="text-left">Invoice Featurs</h5>
                    <div class="row container-fluid  p-0">
                        <div class="col-sm-6 m-0 p-0"></div>
                        <div class="col-sm-6 m-0 p-0"></div>
                    </div>
                    <div class="row container-fluid  p-2" id="e-way">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">e-Way bill applicable</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="e_way_bill" id="id_e_way" class="form-control">
                                <option value="Yes" selected="true">Yes</option>
                                <option value="No">No</option> 
                            </select>
                        </div>
                    </div>
                    
                    <div class="container-fluid  p-2" id="e-way_bill">
                        <div class="row container-fluid  p-2">
                            <div class="col-sm-6 m-0 p-0"> <label for="d">&nbsp;&nbsp;&nbsp;&nbsp;Applicable Form</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="date" class="form-control" id="d" placeholder="" name="appl_from"></div>
                        </div>
                        

                        <div class="row container-fluid  p-2">
                            <div class="col-sm-6 m-0 p-0"> <label for="d">&nbsp;&nbsp;&nbsp;&nbsp;Threshold limit include</label></div>
                            <div class="col-sm-6 m-0 p-0">
                                <select name="th_limlit_in" id="e" class="form-control">
                                    <option >Invoice Value</option>
                                    <option >Taxable and exempt goods value</option> 
                                    <option >Taxable goods value</option> 
                                </select>
                            </div>
                        </div>

                        <div class="row container-fluid  p-2">
                            <div class="col-sm-6 m-0 p-0"> <label for="d">&nbsp;&nbsp;&nbsp;&nbsp;Threshold limit</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="d" placeholder="" value="50,000" name="th_limit"></div>
                        </div>

                        <div class="row container-fluid  p-2">
                            <div class="col-sm-6 m-0 p-0"> <label for="d">&nbsp;&nbsp;&nbsp;&nbsp;Applicable for intrastate</label></div>
                            <div class="col-sm-6 m-0 p-0">
                                <select name="appl_intrastate" id="e" class="form-control">
                                    <option >Yes</option>
                                    <option >No</option> 
                                </select>
                            </div>
                        </div>

                        <div class="row container-fluid  p-2">
                            <div class="col-sm-6 m-0 p-0"> <label for="d">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Threshold Limit</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="d" placeholder="" value="50,000" name="thr_limit"></div>
                        </div>

                        <div class="row container-fluid  p-2">
                            <div class="col-sm-6 m-0 p-0"> <label for="d">&nbsp;&nbsp;&nbsp;&nbsp;Print e-Way Bill with invoice</label></div>
                            <div class="col-sm-6 m-0 p-0">
                                <select name="p_e_way" id="e" class="form-control">
                                    <option >No</option>
                                    <option >Yes</option> 
                                </select>
                            </div>
                        </div>

                    </div>
                    
                    <div class="row container-fluid  p-2" id="e_invoice">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">e-Invoice applicable</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="e_invoice" id="id_e_invoice" class="form-control" >
                                <option value="No" selected="true">No</option>
                                <option value="Yes">Yes</option> 
                            </select>
                        </div>
                    </div>

                    
                    <div class="container-fluid p-2" id="e-Invoice_applicable">
                        <div class="row container-fluid  p-2" id="">
                            <div class="col-sm-6 m-0 p-0"> <label for="">&nbsp;&nbsp;&nbsp;&nbsp;Applicable Form</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="date" class="form-control" id="" placeholder="" name="appli_frm"></div> <br><br>
                        </div>
                        <div class="row container-fluid  p-2" id="">
                            <div class="col-sm-6 m-0 p-0"> <label for="d">&nbsp;&nbsp;&nbsp;&nbsp;Bill From Place</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="d" placeholder="" name="bill_from_place"></div>
                        </div>

                        <div class="row container-fluid  p-2" id="">
                            <div class="col-sm-6 m-0 p-0"> <label for="d">&nbsp;&nbsp;&nbsp;&nbsp;Default period for the e-Invoice report</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="d" placeholder="" value="3 days" name="period_report"></div>
                        </div>

                        <div class="row container-fluid  p-2" id="">
                            <div class="col-sm-6 m-0 p-0"> <label for="c">&nbsp;&nbsp;&nbsp;&nbsp;Send e-Way bill details with e-invoice
                                <br><p><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Applicable for sales transactions)</i></p></label>
                            </div>
                            <div class="col-sm-6 m-0 p-0" id="e-Invoice_applicable">
                                <select name="send_eway_bill" id="e" class="form-control">
                                    <option >Yes</option>
                                    <option >No</option> 
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    
                    
                    
                </div>
            </div>
            <div class="enter w-100 py-4"><button class="btn btn-info w-15" type="submit">CREATE</button></div>       
        </form>
    </div>     
{% endblock %}